# Flutter
.dart_tool/
.packages
build/
pubspec.lock
doc/api/
.env*
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map
.flutter-plugins
.flutter-plugins-dependencies

# Flask / Python
venv/
__pycache__/
*.pyc
*.log
*.sqlite3
*.db
.instance/
.mypy_cache/
.pytest_cache/

# IDEs
.vscode/
.idea/

# Arquivos de ambiente e configurações locais
.env
