# Flask configuration
FLASK_ENV=development
FLASK_APP=run.py
SECRET_KEY=sua_chave_secreta_segura_aqui

# PostgreSQL connection string
DATABASE_URL=postgresql://usuario:senha@localhost:5432/nomedobanco
